<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OptionPR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OptionPR.Properties.Settings>
            <setting name="sHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="sDB" serializeAs="String">
                <value>pricing_data_db</value>
            </setting>
            <setting name="sUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="sPassword" serializeAs="String">
                <value>1111</value>
            </setting>
        </OptionPR.Properties.Settings>
    </userSettings>
</configuration>